{% extends 'back.html.twig' %}

{% block title %}Edit Entreprise{% endblock %}

{% block body %}
    <h1>Edit Entreprise</h1>

    {{ include('entrprise/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_entrprise_index') }}">back to list</a>

    {{ include('entrprise/_delete_form.html.twig') }}
{% endblock %}
