{% extends 'back.html.twig' %}

{% block title %}New Entreprise{% endblock %}

{% block body %}
    <h1>Create new Entreprise</h1>

    {{ include('entrprise/_form.html.twig') }}

    <a href="{{ path('app_entrprise_index') }}">back to list</a>
{% endblock %}
