<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet"> 

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">


    <link rel="stylesheet" href="css/login.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>INSIGHT | Login</title>

</head>
<body>
<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg navbar-light bg-white py-3 px-lg-5">
    <div class="container-fluid">
        <a class="navbar-brand" href="index.html">
            <h1 class="m-0 text-uppercase text-primary"><i class="fa fa-book-reader mr-3"></i>INSIGHT</h1>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="course.html">Courses</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="detail.html">Course Detail</a>
                        <a class="dropdown-item" href="feature.html">Our Features</a>
                        <a class="dropdown-item" href="team.html">Instructors</a>
                        <a class="dropdown-item" href="testimonial.html">Testimonial</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li>
            </ul>

        </div>
    </div>
</nav>
<!-- Navbar End -->


<div class="box">
    <div class="container">
        <div class="top-header">
            <span>Have an account?</span>
            <header>Login</header>
           {% if error is defined %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
{% endif %}
        </div>

        <form method="post" action="{{ path('signin') }}">
            <div class="input-field">
                <input type="text" class="input" placeholder="Email" name="email" required>
                <i class="bx bx-user"></i>
            </div>
            <div class="input-field">
                <input type="password" class="input" placeholder="Password" name="password" required>
                <i class="bx bx-lock-alt"></i>
            </div>
<div class="g-recaptcha" data-sitekey="6LfQMc0pAAAAAOPvvS4PofJdzRE9zeD4rzdmeG-9"></div>
            <div class="input-field">
                <input type="submit" class="submit" value="Login">
            </div>
        </form>
        <div class="bottom">
            <div class="left">
                <label><a href="/register">Don't have an account?</a></label>
            </div>
            <div class="right">
                <label><a href="{{ path('forgot_password') }}">Forgot password?</a></label>
            </div>
        </div>
    </div>
</div>
<script src="https://www.google.com/recaptcha/api.js?render=6LfQMc0pAAAAAP7eDLsWVyYX_JNcb8xv-XitpYP4"></script>
    <script>
        function onSubmit(token) {
            console.log('reCAPTCHA token:', token);
            // Submit the form
            document.getElementById("demo-form").submit();
        }

        grecaptcha.ready(function() {
            grecaptcha.execute('6LfQMc0pAAAAAP7eDLsWVyYX_JNcb8xv-XitpYP4', { action: 'login' }).then(function(token) {
                console.log('reCAPTCHA token generated successfully:', token);
                // You can perform additional actions here if needed
            }).catch(function(error) {
                console.error('reCAPTCHA token generation error:', error);
                // Display error to the user
                alert('Error generating reCAPTCHA token. Please try again later.');
            });
        });
    </script>

</body>
</html>