
{% extends 'BackOffice/adminDashboard.html.twig' %}

{% block title %}New Professeur{% endblock %}

{% block main_content %}
 <div class="container-fluid pt-4 px-4">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="h-100 bg-light rounded p-4">
    <h1>Create new Professeur</h1>

    {{ include('professeur/_form.html.twig') }}

    <a href="{{ path('app_professeur_index') }}">back to list</a>
    </div>
            </div>
        </div>
    </div>
{% endblock %}
